
/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.testimonial .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.testimonial .testimonial-item img {
    position: relative;
    width: 80px;
    border-radius: 80px;
    margin-bottom: 15px;
}

.testimonial .testimonial-item p {
    margin-bottom: 15px;
}

.testimonial .testimonial-item h2 {
    position: relative;
    color: #092a49;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    padding-bottom: 3px;
}

.testimonial .testimonial-item h2::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #0796fe;
    transition: .3s;
}

.testimonial .testimonial-item:hover h2::before {
    width: 60px;
}

.testimonial .testimonial-item h3 {
    color: #999999;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
}

.testimonial .owl-nav {
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial .owl-nav .owl-prev,
.testimonial .owl-nav .owl-next {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0796fe;
    font-size: 25px;
    transition: .3s;
}

.testimonial .owl-nav .owl-prev {
    padding-right: 80px;
}

.testimonial .owl-nav .owl-next {
    padding-left: 80px;
}

.testimonial .owl-nav .owl-prev:hover,
.testimonial .owl-nav .owl-next:hover {
    color: #092a49;
}

.testimonial .owl-nav .owl-prev::after,
.testimonial .owl-nav .owl-next::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    top: 11px;
    background: #0796fe;
    transition: .3s;
}

.testimonial .owl-nav .owl-prev::after {
    left: 9px;
}

.testimonial .owl-nav .owl-next::after {
    right: 9px;
}

.testimonial .owl-nav .owl-prev:hover::after {
    background: #092a49;
}

.testimonial .owl-nav .owl-next:hover::after {
    background: #092a49;
}

